<div class="container">
  <h2 class="title">User List</h2>
  <div class="button-group d-flex gap-2">
    <button class="btn btn-primary equal-btn" (click)="addUser()">+ Add User</button>
  
    <button class="btn btn-success equal-btn" (click)="downloadExcel()">
      <i class="fas fa-file-excel"></i> Export
    </button>
  
    <!-- Hidden file input -->
    <input type="file" accept=".xlsx, .xls" (change)="onFileSelected($event)" hidden #fileInput>
  
    <button class="btn btn-info equal-btn" (click)="fileInput.click()">
      <i class="fas fa-file-import"></i> Import
    </button>
  </div>
  
  

  <div class="table-responsive">
    <table class="table mt-3 custom-table">
      <thead>
        <tr>
          <th>Sl. No</th>
          <th>Name</th>
          <th>Email</th>
          <th>Mobile No</th>
          <th>Address</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.mobileNo }}</td>
          <td>{{ user.address }}</td>
          <td>
            <!-- Edit Button -->
            <button class="btn btn-warning btn-sm" *ngIf="user.id" (click)="editUser(user.id)">
              ✏️ Edit
            </button>
            <!-- Delete Button -->
            <button class="btn btn-danger btn-sm" *ngIf="user.id" (click)="deleteUser(user.id)">
              🗑️ Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>